<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <textarea class="form-control" name="project[title]" id="project_title" rows="1" ><%= project.title %></textarea>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="project[description]" id="project_description" rows="6" ><%= project.description %></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

<% end %>
