<p id="notice"><%= notice %></p>

<div class="mx-auto" style="width: 200px;">
  <h1>Projects</h1>
</div>

<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="d-flex">
        <div class="card " style="width: 17em; height: 17em;" >
          <div class="card-body ">
            <p><h4><%= project.title %></h4></p>
            <p><%= project.description %></p>
            <td ><%= link_to 'Show', project %></td>
            <% if user_signed_in? %>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
</style>